### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
Registered Book List.txt
test.java
Borrowed Book List.txt

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store!/Borrowed Book List.txt
!/Registered Book List.txt
!/test.java
!/Borrowed Book List.txt
